.TLTitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  font-size: 2rem;
}

.TaskListDiv {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.AddButton {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
}

.AddFeat {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-80%, -80%);
}
