.clock {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.clockButton {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border: 0.5rem solid;
  border-radius: 10%;
  background: rgb(208, 230, 208);
}
