h2 {
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-55%, -40%);
}

.timerButton {
  background: rgb(223, 195, 105);
  border-radius: 50%;
  border: 1rem solid;
  border-color: rgb(223, 152, 20);
  padding: 4rem 2rem;
  font-size: 2rem;
}
