.iconBut {
  position: absolute;
  top: 40%;
  left: 40%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  background: none;
  size: 2rem;
  border: 0rem;
  transform: translate(-40%, -40%);
}
